# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/jei_1.12.2-4.8.5.147.jar
gradle.properties
libs/BaseMetals-1.12-2.5.0-beta4.145-sources.jar
libs/BaseMetals-1.12-2.5.0-beta4.145.jar
libs/DYLh0MQW0AE4QJ6.jpg_large
libs/OreSpawn-1.12-3.2.2.113-sources.jar
